<h1>You chose Paper</h1>
<p>Your opponent chose <%= @random %>. You <%= @result %> </p>
<p>Wanna play again?</p>
<ul>
<li> <a href="../paper"> Paper </a></li>
<li> <a href="../scissors"> Scissors </a> </li>
<li> <a href="../rock"> Rock </a> </li>
</ul>
<img src="http://localhost:3000/assets/images/paper.png">

